<div class="text-center">
    <div class="container">
        <h1 class="display-4 special-text mb-5">The website for comic book enthusiasts</h1>
        <p class="special-text mb-5">Celem serwisu będzie umożliwienie wyszukiwania informacji dotyczących postaci z komiksów, samych komiksów oraz powiązanych z nimi filmów. Użytkownicy będą mogli oceniać ww. artefakty oraz zadeklarować, czy w przyszłości chcieliby przeczytać nowy komiks/obejrzeć film z danej serii. W celu zwiększenia zaangażowania użytkownicy będą mieli również możliwość dzielenia się swoimi opiniami oraz otrzymywać „nagrody” za aktywność.</p>
    </div>
</div>