@using ComicWebApplication.EditViewModels
@model EditComicViewModel

<div class="col-md-6 offset-3 mt-5">
    <div class="container mx-auto">
        <div class="container mb-5">
            <div class="flex rounded overflow-hidden shadow-md p-4 mt-5" style="background-color:rebeccapurple">
                <h4 class="text-center mb-3">Edytowanie komiksu</h4>
                <form method="post" asp-action="Edit" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Title">Tytuł komiksu</label>
                        <input asp-for="Title" class="form-control mb-2">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Number">Numer wydania komiksu</label>
                        <input asp-for="Number" class="form-control mb-2">
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Description">Opis komiksu</label>
                        <input asp-for="Description" class="form-control mb-2">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="ReleaseYear">Rok wydania komiksu</label>
                        <input asp-for="ReleaseYear" class="form-control">
                        <span asp-validation-for="ReleaseYear" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="ImageURL">Zdjęcie okładki komiksu</label>
                        <input asp-for="ImageURL" type="file" class="form-control mb-2">
                        <span asp-validation-for="ImageURL" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2 float-end">
                        <button class="btn btn-primary" type="submit">Zatwierdź</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>